.h1align {
    margin: 2% 0 0 35%;
    font-size: 30px;
  }

.input {
    width: 80%;
    height: 24px;
    margin: 4% 0 0 5%;
    font-size: 18px;
    padding: 3px 3px 3px 3px;
    border: 0;
    border-bottom: 1px solid black;
    color: primary;
  }

.gobutton{
    margin: 1% 0 0 5%;
    size: 50%;
    font-size: 30px;
  }
  
.feeds{
    margin:5% 0 0 5%;
    // width: 100%;
}

.imgstyle{
 width:200px;
 height:200px;
}