<div>
        <h1 class="h1align">RSS Feed Reader</h1>
  <div>
  <input #box class="input" placeholder="Enter the RSS feed URL here">
</div>
  <button class="gobutton" (click)="onSubmit(box.value)">Go</button>
  <div class="feeds" *ngIf="rssParsed.length>0">
      <h3>The feeds are below</h3>
      <div *ngFor="let item of rssParsed" class="d-flex post" >
        <h5 >
          <span *ngIf="item.author">
              {{item.author}},
          </span>
          {{item.pubDate }}
        </h5>
        <h4>
          <a target="_blank" [href]="item.link">{{item.title}}</a><sup>↗</sup>
        </h4>
        <div *ngIf="item?.categories?.length" class="small text-muted mb-1">
          <em *ngFor="let cat of item.categories; let last = last">{{cat}}<span *ngIf="!last">, </span></em>
        </div>
        <div class="item-container">
          <div><p>{{item.description}}</p></div>
        </div>
        <div *ngIf="item?.media?.url">
            <img [src]="item.media.url" class="imgstyle">
          </div> 
      </div>
  </div>
</div>